/* GENERAL */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900&display=swap');
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body,h1,h2,h3,h4,h5{
    margin: 0;
   
}

body{
    overflow-x: hidden;
}

h1{
    font-size: 6vw;
    font-weight: 900;
}
h2{
    font-size: 5vw;
    font-weight: 900;
}
h4{
    font-size: 2vw;
    font-weight: 900;
}
h5{
    font-size: 1.5vw;
    font-weight: 900;
}

p{
    line-height: 1.7;
}

.container{
    width:80%;
    margin: auto;
}

.toggle-bar{
    display: none;
}

@media screen and (max-width:800px){
    .container{
        width:90%;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 50px;
    }
    h4{
        font-size: 25px;
    }
    h5{
        font-size: 20px;
    }
    nav{
        padding: 20px 0px;
        position: relative;
    }

    .nav-item{
        margin: 60px auto;
    }

    .nav-items ul{
        position: absolute;
        top:10vh;
        right: -850px;
        background: #020E21;
        width: 100vw;
        padding-left: 50px;
        height: 100vh;
        z-index: 5;
    }

    .nav-items ul li{
        display: block;
    }

    .toggle-bar{
        display: block;
        width:50px;
        height: 5px;
        background: white;
        position: relative;
        transition: 0.3s;
    }

    .toggle-bar::after{
        content: '';
        position: absolute;
        top:-10px;
        display: block;
        width:50px;
        height: 5px;
        background: white;
        transition: 0.3s;
    }

    .toggle-bar::before{
        content: '';
        position: absolute;
        top: 10px;
        display: block;
        width:50px;
        height: 5px;
        background: white;
        transition: 0.3s;
    }

    .toggle-nav{
        transform: translateX(-600px);
        transition: 0.3s;
    }

    .toggle-nav-close{
        transform: translateX(500px);
        transition: 0.3s;
    }

    .toggle-on{
        transform: rotate(50deg);
        display: block;
        width:30px;
        height: 5px;
        background: white;
        position: relative;
        transition: 0.3s;
    }

    .toggle-on::after{
        content: '';
        transform: rotate(-100deg);
        display: block;
        width:30px;
        height: 5px;
        background: white;
        position: relative;
        transition: 0.3s;
    }

}


/* BUTTONS */

.blue-btn,.blue-outline-btn{
    margin: 30px 20px;
}
.blue-btn a{
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background: #059ECB;
    border: 2px solid #059ECB;
}
.blue-btn a:hover{
    background: rgb(0, 111, 145);
    border: 2px solid rgb(0, 111, 145);
    transition: 0.2s;
}
.blue-outline-btn a{
    padding: 10px 20px;
    text-decoration: none;
    color: #059ECB;
    border: 2px solid #059ECB;
    box-sizing: border-box;
}
.blue-outline-btn a:hover{
    background: #059ECB;
    border: 2px solid #059ECB;
    color: white;
    transition: 0.2s;
}

@media screen and (max-width:400px){
    .blue-btn,.blue-outline-btn a{
        font-size: 10px;
        
    }
    .blue-outline-btn{
        margin: 25px 20px 30px 20px;
    }
    
}

/* NAVBAR */

header{
    background: #001B3A;
}


nav, .intro-text{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
}

nav a{
    text-decoration: none;
}

.navbar{
    background: #020E21;
    color: white;
}
.navbar a{
    color: white;
}

.nav-item{
    display: inline-block;
    margin-left: 30px;
}

/* Home */

/* INTRODUCTION */

.site-intro{
    background: #020E21;
    color: white;
    height: 93vh;
}

.site-intro-main{
    display: flex;
    margin: auto;
    height: 90%;
    justify-content: space-around;
    align-items: center;
}

.intro-text{
    background: #059ECB;
    margin: auto 80px auto auto;
    width:60%;
    padding: 10px;
    position: relative;
    z-index: 0;
}
.intro-text::before{
    content: '';
    width: 100%;
    position: absolute;
    height: 50vh;
    top: -50vh;
    left: 0px;
    background: #059ECB;
}
/* .intro-text::after{
    content: ' ';
    width: 100%;
    position: absolute;
    height: 90vh;
    top: -50vh;
    left: 0px;
    background: rgb(59, 200, 236);
    transform-origin: 0 100%;
} */
.messege-box{
    background: rgba(5, 157, 203, 0.37);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto auto 30px 80px;
    position: relative;
}

.messege-box::after{
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid rgba(5, 157, 203, 0.37);
    content: '';
    position: absolute;
    bottom: -26.7px;
    left: -3px;
    transform: rotate(225deg);
}

.messege-box-txt{
  padding: 20px;
  width: 80%;
}

.messege-box-img{
    width:70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: -35px;
}
.messege-box-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.intro-btn-section{
    display: flex;
    justify-content: center;
    padding-left: 110px;
}


.intro-botttom-section{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.intro-botttom-section > div{
    height: 100%;
    align-items: center;
    display: flex;
    width: 30%;
    justify-content: center;
    background: #059ECB;
}
.intro-bottom-section-txt{
    background: #059ECB;
    padding: 10px;
}

.intro-bottom-section-txt  a {
    color:white;
    font-weight: 800;
}

@media screen and (max-width:901px){
    .site-intro-main{
        display: block;
        width:100%;
        padding: 50px 0px;
    }
    .intro-text {
        width: 70%;
        padding: none;
        background: transparent;
        margin: auto auto auto auto;
    }
    .intro-text::before{
        display: none;
    }
    .messege-box{
        width:95%;
        margin: 30px auto;
    }
    .site-intro{
        height: auto;
    }
    .intro-btn-section{
        padding-left: 20px;
    }
    .intro-botttom-section{
        height: 10vh;
    }
}
@media screen and (max-width:400px){
    .messege-box-img{
        display: none;
    }
}
/* ABOUT */

.home-about{
    background: #eee;
    color:#020E21;
    padding: 70px 0px;
}

.home-about-section{
    display: flex;
    align-items: center;
}
.home-about-section > div{
    width:50%
}

.skillset-section{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.skillset-section > div{
    width: 50%;
}
.skillset-section h4{
    border-left: 10px solid #059ECB;
    padding-left: 30px;
    position: relative;
}

.skillset-icons-set ul{
    list-style: none;
    padding: 0px;
}
.skillset-icons-set ul li{
    display: inline-block;
    padding: 8px 10px ;
    background: #020E21;
    border-radius: 50%;
    margin: 5px 20px 5px 0px;
    color:white;
}

@media screen and (max-width:900px){
    .home-about-section,.skillset-section{
        display: block;
    }
    .home-about-section > div,.skillset-section > div{
        width: 100%;
        margin: 40px auto;
    }
    .skillset-btn{
        display: none;
    }
}

/* WORK HOME SECTION */

.home-work{
    padding:80px 0px;
}

.home-work-txt{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.home-work-txt > div {
    width: 50%;
}

.home-work-grid{
    display:grid;
    grid-template-columns: auto auto;
    margin: 50px auto;
}
.home-work-card{
    height: 50vh;
    background: #eee;
    margin: 10px;
}
.home-work-section-btn{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:900px){
    .home-work-txt{
        display: block;
    }
    .home-work-txt > div {
        margin: 40px auto;
        width:100%;
    }
    .home-work-grid{
        grid-template-columns: auto;
    }
}

/* HOME CONTACT */

.home-contact{
    padding: 80px 0px;
    background: #eee;
}
.home-contact-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.home-contact-txt p{
    color: #059ECB;
}
.home-work-btn-section{
    display: flex;
    justify-content: flex-start;
}
.home-work-btn-section > div{
    margin-left: 0px;
    margin-right: 40px;
}
.social-links-contact{
    text-align: right;
}
.hire-me-section > div{
    margin-right: 0px;
}
.social-list ul{
    padding: 0px;
    list-style: none;
}
.social-list ul li{
    display: inline-block;
    margin: 15px 0px 0px 20px;
    padding: 12px 15px;
    background: #020E21;
    border-radius: 50%;
}
.social-list ul a{
    color: #059ECB;
}

@media screen and (max-width:900px){
    .home-contact-section{
        display: block;
    }
    .social-links-contact{
        text-align: left;
    }
    .hire-me-section > div,.social-list ul li{
        margin-left: 0px;
    }
    .social-list ul li{
        margin-right: 30px;
    }
    .home-contact-section > div{
        margin: 50px auto;
    }
}


























/* FOOTER */

footer{
    background: #272323;
    color: white;
    padding-bottom: 30px;
}

footer a{
    color:white;
    text-decoration: none;
}

.nav-item-footer{
    margin: auto 30px auto auto;
}

.footer-items{
    display:flex;
    width:100%;
    justify-content: space-between;
}

.footer-items > div {
    width:30%;
    margin: 50px 30px;
}

.footer-menu-list{
    margin: 0;
    padding: 0;
}

.footer-social-links{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.copyright-restriction{
    text-align: center;
}

/* ABOUT PAGE */

.about-page{
    color: black;
    background: white;
    padding-bottom: 10px;
}

.about-page-content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.about-page-content > div {
    width: 50%;
}

.about-page-img{
    margin: 50px auto;
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.about-page-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.about-page-txt h1{
    font-size: 4.7vw;
}
.about-page-txt{
    margin: 30px;
}

.about-page-txt p{
    font-size: 1.2vw;
    line-height: 2.3;
}

@media screen and (max-width:800px){
    .section-text h2{
        font-size: 30px;
    }
    .about-page{
        height: auto;
        min-height: auto;
    }
    .about-page-content{
        display: block;
    }
    .about-page-content > div {
        width: 100%;
    }
    .about-page-img{
        height: auto;
    }
    .about-page-img img{
        width: 70%;
        height: 56vh;
        border-radius: 0%;
        object-fit: cover;
        object-position: top;
    }
    .about-page-txt{
        margin: 30px auto;
    }
    .about-page-txt h1{
        font-size: 40px;
    }
    .about-page-txt p{
        font-size: 15px;
    }
}

@media screen and (max-width:800px){
    
    .footer-items{
        display: block;
    }
    .footer-items > div {
        width:100%;
        margin: 0px 10px;
        padding: 30px 0;
    }
    .footer-social-links{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
